<%- include('partials/header.ejs') %>
<div class="card">
  <h1>Question <%= index + 1 %> of <%= totalQuestions %></h1>
  <div class="question">
    <p><%= question.questionText %></p>
    <form action="/quiz/answer/<%= index %>" method="post">
      <ul>
        <% question.options.forEach((option, i) => { %>
          <li>
            <input type="radio" class="optionradio" id="option<%= i %>" name="answer" value="<%= i %>"
                   <% if (userAnswer !== null && userAnswer === i) { %>checked<% } %>>
            <label for="option<%= i %>"><%= option %></label>
          </li>
        <% }); %>
      </ul>
      <div class="buttons">

        <% if (index > 0) { %>
          <a href="/quiz/question/<%= index - 1 %>" class="btn">Previous</a>
        <% } %>
    
        <% if (index < totalQuestions - 1) { %>
          <button type="submit" name="action" value="next" class="optionbtn btn">Next</button>
        <% } else { %>
          <button type="submit" name="action" value="submit" class="optionbtn btn">Submit</button>
        <% } %>
      </div>
      
    </form>
  </div>
</div>
<%- include('partials/footer.ejs') %>